
.f_dropdown_area{
	height:0px;
	overflow: hidden;
	background-color: #eee;
	box-shadow: 0px 0px 5px #aaa;
}

.f_inner_content{
	height:40px;
	line-height: 40px;
	color:#aaa;
}

.f_preLoading{
	display: inline-block;
	width:20px;
	height:20px;
	background:url('./images/arrow_top.png') no-repeat 0 0;
	background-size: cover;
	vertical-align: middle;
	margin-right: 5px;
	-webkit-transform:rotate(0deg);
	-moz-transform:rotate(0deg);
	-ms-transform:rotate(0deg);
	-o-transform:rotate(0deg);
	transform:rotate(0deg);
	-webkit-transition:transform 0.3s;
	-moz-transition:transform 0.3s;
	-ms-transition:transform 0.3s;
	-o-transition:transform 0.3s;
	transition:transform 0.3s;
	line-height: 40px;
}

.f_preLoading.rotate{
	-webkit-transform:rotate(180deg);
	-moz-transform:rotate(180deg);
	-ms-transform:rotate(180deg);
	-o-transform:rotate(180deg);
	transform:rotate(180deg);
	-webkit-transition:webKitTransform 0.3s;
	-moz-transition:transform 0.3s;
	-ms-transition:transform 0.3s;
	-o-transition:transform 0.3s;
	transition:transform 0.3s;
}

.f_preLoading.spin{
	background-image:url('./images/icon_loading.png');
	-webkit-animation:spin 0.5s linear infinite normal;
}

@-webkit-keyframes spin{
	from{
		-webkit-transform:rotate(0deg);
		-moz-transform:rotate(0deg);
		-ms-transform:rotate(0deg);
		-o-transform:rotate(0deg);
		transform:rotate(0deg);
	}

	to{
		-webkit-transform:rotate(360deg);
		-moz-transform:rotate(360deg);
		-ms-transform:rotate(360deg);
		-o-transform:rotate(360deg);
		transform:rotate(360deg);
	}
}